* {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.upHeader, .downHeader{
    margin: 0 9% 0 14%;
}
.header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 15px 0 40px 0;
}
.upHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.headerLogo {
    font-size: 24px;
    font-weight: bold;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #F9FAF8;
}
h1 {
    font-size: 48px;
}
.downHeader{
    display: flex;
    justify-content: space-between;
}
.mainText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.buttonOne {
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 5px 22px;
    border: 0;
}
.mainParagraph {
    color: #E5E7EB;
}